* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 77px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}
.header{
    background-color: #014E56;

}
ul button{
    padding: 11px 33px;
    background-color: #014E56;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
}
ul button:active{
    background-color: #F67E7E;
    
}
.header-div{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}
.header-div h1{
    width: 350px;
    height: 100px;
    font-size: 64px;
}
.header-div p{
    width: 630px;
    height: 112px;
    font-size: 18px;
}
